:root {
	font-family: Arial, Helvetica, sans-serif !important;
	--base: #1e2124;

	--grey-1: #282b30;
	--grey-2: #36393e;
	--grey-3: #424549;

	--theme: #394e75;
	--darker-theme: #2c3b56;

	--letter-color: #adacac;

	--white: #fff;
}

*:focus {
    outline: none;
}

.hide {
	display: none;
}

body {
	background-color: var(--base);
}
