:root {
	font-family: Arial, Helvetica, sans-serif !important;
	--grey: #ced4da;
	--low-grey: #e9ecef;
	--dark-grey: #b2b7bb;
	--darker-grey: #818181;
	--black: #495057;
	--blue-focus: #719ECE;
	--usual-blue: #2196F3;
	--white: #fff;
	--green: #2eb82e;
	--green-hover: #009933;
	--blacker: #353535;
	--dark-black: #111;
	--not-so-black: #2b2a2a;
	--medium-grey: #444343;
}

.hide {
	display: none;
}
