.ml1 {
    margin-left: 3px;
}

.ml2 {
    margin-left: 5px;
}

.ml3 {
    margin-left: 7px;
}

.ml4 {
    margin-left: 13px;
}

.mt1 {
    margin-top: 3px;
}

.mt2 {
    margin-top: 5px;
}

.mt3 {
    margin-top: 7px;
}

.mt4 {
    margin-top: 13px;
}
