@import url("sheet_resume.css");

.new-sheet {
    width: 98%;
    height: 6%;
    margin: auto;
    margin-top: 20px;
    background-color: var(--grey-2);
    color: var(--letter-color);
    border-radius: .5rem;
    font-size: 20px;
}

.new-sheet > p {
    margin: 0px;
    padding-top: 0.8%;
    padding-left: 20px;
}

.new-sheet:hover, .new-sheet:hover .new-sheet > p {
    color: var(--white);
    cursor: pointer;
}


.character-image {
    width: 200px;
    height: 200px;
    float: left;
    margin-left: 45px;
    margin-top: 45px;
    overflow: hidden;
    border-radius: 50rem;
}
